@import './node_modules/normalize.css/normalize.css';
@import './node_modules/bootstrap/dist/css/bootstrap.css';

body {
  font: 10px sans-serif;
}

.rect {
  fill: #45beff;
}

path.line {
  fill: none;
  stroke: #45beff;
}

.domain {
  stroke: #45beff;
}
.axis line {
  stroke: #45beff;
}

.point {
    fill: none;
    stroke: #9467bd;
    stroke-width: 3;
}
